.main {
  background-color: $body-color;
}

.tasks {
  padding-top: 10px;
}

.tasks-container {
  background-color: $white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 30px;
}

.input-add-task {
  margin: auto;
  margin-top: 20px;
  width: 95%;
}

.btn-add-task {
  background-color: $button-color;
  border: 1px solid $button-hover;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 2.5% 30px;
  padding: 6px 12px;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}

.btn-task-control {
  background-color: $white;
  border: 1px solid $nav-tabs-border;
  border-radius: 3px;
  display: inline-block;
  font-size: 20px;
  margin: 15px 10px 0;
  outline: 0;
  padding: 1px 15px;

  &:hover,
  &:focus {
    background-color: $light-grey;
  }
}

.dropdown-tags {
  display: inline-block;
}

.dropdown-priority {
  display: inline-block;
}
